/* Style the tab */
.gtab {
  overflow: hidden;
  background-color: #fff;
  margin-top: 20px;
}
  
/* Style the buttons inside the tab */
.gtab .tablinks {
  background-color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.gtab button:hover {
  background-color: #05cb95;
  color: #fff;
}
  