/* ==========================================================================
   Form Styles
   ========================================================================== */
  
.form-signin-gitbook{
  max-width: 380px !important;
  padding: 15px;
}
.form-signin-gitbook .form-signin-heading {
 font-family: 'Abhaya Libre', serif;
 font-size: 24px;
 color: #fff;
}
.form-signin-gitbook .form-signin-heading,
.form-signin-gitbook .checkbox {
  margin-bottom: 10px;
}
.form-signin-gitbook .checkbox {
  font-weight: normal;
}
.form-signin-gitbook .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px;
  font-size: 16px;
}

.form-signin-gitbook .form-control-join {
  position: relative;
  height: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 5px;
  font-size: 16px;
}

.form-signin-gitbook .form-control-join-email {
  position: relative;
  height: auto;
  width: 65%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 5px;
  font-size: 16px;
}

.form-control-join-email > .form-group-btn {
  float: left;
  margin-left: 100px;
}

.form-signin-gitbook .form-control .form-control-join:focus {
  z-index: 2;
}
.form-signin-gitbook input[type="text"] {
 font-family: 'Nanum Gothic', sans-serif;
 font-size: 18px;
  margin-bottom: 4px;
}
.form-signin-gitbook input[type="password"] {
 font-family: 'Nanum Gothic', sans-serif;
 font-size: 18px;
 margin-bottom: 4px;
}
.form-signin-gitbook input[type="tel"] {
  font-family: 'Abhaya Libre', serif;
  font-size: 15px;
  margin-bottom: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
 }
 
/* 로그인 */
.form-group input::placeholder {
  color: #cececea1;
  font-style: 'Nanum Gothic', sans-serif;
}
.form-group input {
	background-color: #d6d6d685;
	color: #ffffff;
}

/*회원가입*/
.form-group-join input::placeholder {
  color: #cececea1;
  font-style: 'Nanum Gothic', sans-serif;
}
.form-group-join input {
	background-color: #d6d6d685;
	color: #ffffff;
}

.form-group-join {
    margin: 10px;
    color: #333333;
}
.form-group-join-btn {
    margin-left: 15px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:29%;
   
}
.birth_info {
   height:30px;
    width: 50px;
}
 .birth_label {
     margin-left: 5px;
     margin-right: 15px;
     color: #ffffff;
 }
 .chk_info{
    position: relative;
  }
 .chk_info input[type="radio"] + label { 
   display: inline-block;
   position: relative;
   padding-left: 10px; 
   margin-right: 20px;
   color: #ffffff;
   cursor: pointer;
   -webkit-user-select: none; 
   -moz-user-select: none;
   -ms-user-select: none;
 }

/*아이디, 비밀번호 찾기*/
.find-id-head {
  margin-right:50px; 
  font-size:20px
}
.find-pwd-head {
  color:#0fc19e; 
  font-size:20px
}
.find-act-hr {
  width:300px;
  margin-bottom:10px
}
.find-pwd-cmt {
  margin-top:20px
}