.errorPage {
	width: 100%;
	height: 100%;
}

.errorPage .errorPage-img {
	margin-left: 30%;
}

.errorPage .errorPage-img-button {
	width: 100px;
	height: 30px;
	background: #545654;
	color: white;
	border-radius: 7px;
	text-align: center;
	font-family: "Varela Round", sans-serif;
	border: 1.5px solid #545654;
	outline: 0;
	margin: auto;
	font-size: 20px !important;
}